<% was_validated = message.errors.any? %>

<%= form_with(model: message, local: true, novalidate: true, class: "mb-3") do |f| %>
  <!-- Label and input for sender_id start -->
  <div class="form-group">
    <% sender_class = "form-control" %>
    <% sender_was_invalid = message.errors.include?(:sender) %>

    <% if was_validated %>
      <% if sender_was_invalid %>
        <% sender_class << " is-invalid" %>
      <% else %>
        <% sender_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :sender_id %>
    <!-- Input for sender_id start -->
    <%= f.collection_select :sender_id, User.all, :id, :to_s, {}, class: "form-control" %>
    <!-- Input for sender_id end -->
    <% if sender_was_invalid %>
      <% message.errors.full_messages_for(:sender).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for sender_id end -->
  <!-- Label and input for recipient_id start -->
  <div class="form-group">
    <% recipient_class = "form-control" %>
    <% recipient_was_invalid = message.errors.include?(:recipient) %>

    <% if was_validated %>
      <% if recipient_was_invalid %>
        <% recipient_class << " is-invalid" %>
      <% else %>
        <% recipient_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :recipient_id %>
    <!-- Input for recipient_id start -->
    <%= f.number_field :recipient_id, class: recipient_class, placeholder: "Enter recipient" %>
    <!-- Input for recipient_id end -->
    <% if recipient_was_invalid %>
      <% message.errors.full_messages_for(:recipient).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for recipient_id end -->
  <!-- Label and input for text start -->
  <div class="form-group">
    <% text_class = "form-control" %>
    <% text_was_invalid = message.errors.include?(:text) %>

    <% if was_validated %>
      <% if text_was_invalid %>
        <% text_class << " is-invalid" %>
      <% else %>
        <% text_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :text %>
    <!-- Input for text start -->
    <%= f.text_field :text, class: text_class, placeholder: "Enter text" %>
    <!-- Input for text end -->
    <% if text_was_invalid %>
      <% message.errors.full_messages_for(:text).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for text end -->
  <!-- Label and input for item_id start -->
  <div class="form-group">
    <% item_class = "form-control" %>
    <% item_was_invalid = message.errors.include?(:item) %>

    <% if was_validated %>
      <% if item_was_invalid %>
        <% item_class << " is-invalid" %>
      <% else %>
        <% item_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :item_id %>
    <!-- Input for item_id start -->
    <%= f.number_field :item_id, class: item_class, placeholder: "Enter item" %>
    <!-- Input for item_id end -->
    <% if item_was_invalid %>
      <% message.errors.full_messages_for(:item).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for item_id end -->
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
