<!-- Form message start -->
<%= form_with(model: @message, local: true) do |f| %>
<!-- Form message end -->

  <!-- Label and input for sender_id start -->
  <div class="form-group">
    <%= f.label :sender_id %>

    <!-- Input for sender_id start -->
    <%= f.collection_select :sender_id, User.all, :id, :to_s, {}, class: "form-control" %>
    <!-- Input for sender_id end -->
  </div>
  <!-- Label and input for sender_id end -->

  <!-- Label and input for recipient_id start -->
  <div class="form-group">
    <%= f.label :recipient_id %>

    <!-- Input for recipient_id start -->
    <%= f.text_field :recipient_id, class: "form-control" %>
    <!-- Input for recipient_id end -->
  </div>
  <!-- Label and input for recipient_id end -->

  <!-- Label and input for text start -->
  <div class="form-group">
    <%= f.label :text %>

    <!-- Input for text start -->
    <%= f.text_field :text, class: "form-control" %>
    <!-- Input for text end -->
  </div>
  <!-- Label and input for text end -->

  <!-- Label and input for item_id start -->
  <!-- Input for item_id start -->
  <%= f.hidden_field :item_id, value: @item.id %>
  <!-- Input for item_id end -->
  <!-- Label and input for item_id end -->

  <%= f.submit "Create message", class: "btn btn-block btn-outline-secondary" %>
<% end %>
